#  use python3 -m pip freeze > requirements.txt to get final version once completed
polars 
pyarrow
yfinance
pytest
pytest-mock
quantstats
ipython
flask
flask-cors

#  activating virtual environment => source venv/bin/activate

 